@use 'sass:color';

$primary: #f7786b;
$primary-dark: #d8574e;
$secondary: #cb99c9;
$primary-translucent: color.adjust($primary, $lightness: 28%);

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$success: #679e74;
$warning: #ffc107;
$danger: #db626e;

$bg-primary: #fafafa;

$text-primary: #1c1c1c;

$header-height: 70px;
